.footer {
    // height: 196px;
    border-bottom: 5px $purple solid;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share {
    @include font(15, 18);
    margin: 47px 0 22px;
}

.social-media-icons {
    width: vw(85.42, 375);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.copy-rights {
    @include font(14, 20);
    margin: 46px 0 23px;
}