.gifos-searcher {
    position: relative;
}

.gifos-searcher__title {
    margin: 2px 0 27px;
    width: vw(286, 375);
    max-width: 467px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @include bold;
    color: $purple;
    @include font(30, 36);
    text-align: center;
    & span {
        color: $turquoise;
    }
}

.gifos-searcher__image {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: vw(273, 375);
    max-width: 399px;
    height: auto;
}

.search-bar {
    width: vw(334, 375);
    max-width: 551px;
    height: 50px;
    border: $purple solid 1px;
    border-radius: 27px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    &__input {
        position: absolute;
        left: 55px;
        top: 15px;
        width: 215px;
        border: 0;
        padding: 0;
        margin: 0px;
        @include font(16, 20);
        @include regular;
    }
    &__icon {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .gifos-searcher__title {
        margin: 75px 0 25px;
        @include font(40, 50);
        max-width: 600px;
    }
}