.trending {
    position: relative;
}

.trending-def {
    @include font(18, 25);
    margin: 30px 0 48px;
    width: vw(210, 375);
    min-width: 210px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    & span {
        @include bold;
        &::after {
            content: '\A';
            white-space: pre;
        }
    }
}

.trending-box {
    background-color: $white-light;
    text-align: center;
    &__title {
        @include font(25, 30);
        @include bold;
        padding: 44px 0 9px;
    }
    &__info {
        color: black;
        @include font(16, 23);
        & span::after {
            content: '\A';
            white-space: pre;
        }
    }
    &__button {
        display: none;
    }
}

.gifos-carrousel {
    height: 187px;
    padding: 32px 0 82px;
    display: flex;
    overflow: scroll;
}

.gifos-container-card {
    margin-left: 22px;
    &__img {
        width: 243px;
        height: 187px;
    }
    &__buttons,
    &__info {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .trending-box__info span::after {
        white-space: normal;
    }
}

@media screen and (min-width: 1024px) {
    .trending-def {
        margin: 73px 0 102px;
    }
    .trending-box {
        position: relative;
        &__title {
            @include font(30, 30);
            padding: 65px 0 14px;
        }
        &__info {
            @include font(18, 22);
        }
        &__button {
            display: inherit;
            position: absolute;
            top: 302px;
            background-color: $white-light;
            border: $purple solid 1px;
            width: 40px;
            height: 40px;
            font-size: 14px;
            color: $purple;
            outline: none;
            &:hover {
                background-color: $purple;
                color: white;
            }
            &-left {
                left: vw(94, 1440);
            }
            &-right {
                right: vw(92, 1440);
            }
        }
    }
    .gifos-carrousel {
        height: 275px;
        padding: 52px 0 182px;
        width: vw(1127, 1440);
        margin: auto;
        align-items: center;
    }
    .gifos-container-card {
        position: relative;
        margin: 0 vw(28, 1440) 0 0;
        &__img,
        .overlay {
            width: vw(357, 1440);
            height: vw(275, 1440);
        }
        &__buttons {
            display: flex;
            position: absolute;
            width: 117px;
            justify-content: space-between;
            top: 10px;
            right: 10px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            position: absolute;
            height: 63px;
            bottom: 6px;
            left: 12px;
            text-align: left;
            color: white;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $purple-alfa;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }
    .gifos-container-card:hover .overlay {
        z-index: 1;
    }
    .card-button {
        background-color: white;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        opacity: 70%;
        font-size: 18px;
        outline: none;
        &:hover {
            opacity: 100%;
        }
    }
    .card__user {
        @include font(15, 18);
        margin-bottom: 5px;
    }
    .card__title {
        @include font(16, 20);
        @include bold;
    }
}